IF EXISTS ( SELECT *
            FROM   sys.objects
            WHERE  object_id = OBJECT_ID(N'dbo.GetPOForAdvanceSearch')
                   AND type IN ( N'P', N'PC' ) )
BEGIN
   DROP PROCEDURE [dbo].[GetPOForAdvanceSearch];
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[GetPOForAdvanceSearch]
(
	@IMEI NVARCHAR(MAX),
	@ConcernId INT
)
  
AS 
 BEGIN 
	 SELECT t1.Code ProductCode, t1.ProductName, t1.UnitPrice PurchaseRate, t1.IMENO IMEI, t1.Quantity, t1.POrderID, t1.ChallanNo
	 , t1.OrderDate, t1.SupplierName, t1.SupCode
	 FROM
	(
		SELECT p1.Code, p1.ProductName, pd1.UnitPrice, CAST(1 AS DECIMAL(18, 2)) Quantity, p.POrderID, pd.IMENO, P.ChallanNo, s.Name SupplierName, s.Code SupCode 
		,P.OrderDate
		FROM POProductDetails pd
		JOIN POrderDetails pd1 ON pd.POrderDetailID = pd1.POrderDetailID
		JOIN POrders p ON pd1.POrderID = p.POrderID
		JOIN Products p1 ON pd1.ProductID = p1.ProductID
		LEFT JOIN Suppliers s ON p.SupplierID = s.SupplierID
		WHERE p.ConcernID = @ConcernId
	) t1 INNER JOIN
	(
		SELECT p.POrderID FROM POProductDetails pd
		JOIN POrderDetails pd1 ON pd.POrderDetailID = pd1.POrderDetailID
		JOIN POrders p ON pd1.POrderID = p.POrderID
		WHERE pd.IMENO = @IMEI
	) t2
	ON t1.POrderID = t2.POrderID
 END


 --EXEC GetPOForAdvanceSearch '1440602AL2257', 5126





