IF EXISTS ( SELECT *
            FROM   sys.objects
            WHERE  object_id = OBJECT_ID(N'dbo.GetSOForAdvanceSearch')
                   AND type IN ( N'P', N'PC' ) )
BEGIN
   DROP PROCEDURE [dbo].[GetSOForAdvanceSearch];
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[GetSOForAdvanceSearch]
(
	@IMEI NVARCHAR(MAX),
	@ConcernId INT
)
  
AS 
 BEGIN 
	 
	DECLARE @SDetailID INT = NULL;
	DECLARE @RDetialID INT = NULL;

	SELECT @RDetialID = ROrderDet.RStockDetailId FROM
	(
		SELECT TOP(1) sd.RStockDetailId
			FROM SOrderDetails sd
			WHERE EXISTS (SELECT TOP(1) *
						  FROM StockDetails sd2
						  WHERE sd.RStockDetailId = sd2.SDetailID AND sd2.IMENO= @IMEI AND sd2.Status IN(2, 4) ORDER BY sd.SOrderDetailID DESC)
	) ROrderDet

	IF @RDetialID IS NULL BEGIN  
    	SELECT @SDetailID = SOrderDet.SDetailID FROM
		(
			SELECT TOP(1) sd.SDetailID
			FROM SOrderDetails sd
			WHERE EXISTS (SELECT TOP(1) *
						  FROM StockDetails sd2
						  WHERE sd.SDetailID = sd2.SDetailID AND sd2.IMENO= @IMEI AND sd2.Status IN(2, 4) ORDER BY sd.SOrderDetailID DESC)
		) SOrderDet
    END
    



	IF @SDetailID IS NOT NULL OR @RDetialID IS NOT NULL
		BEGIN
			IF @SDetailID IS NOT NULL
				BEGIN
					SELECT P.Code ProductCode, P.ProductName, sd.Quantity,
					(((sd.UnitPrice - (sd.PPOffer + sd.PPDAmount) / sd.Quantity) - ((s.TDAmount + s.AdjAmount) / (s.GrandTotal - s.NetDiscount + s.TDAmount)) * (sd.UnitPrice - (sd.PPOffer + sd.PPDAmount) / sd.Quantity)) * sd.Quantity) SalesRate,
					sd1.IMENO IMEI, c.Code CustomerCode, c.Name CustomerName, s.InvoiceDate SalesDate, s.InvoiceNo

					FROM SOrderDetails sd
					JOIN SOrders s ON sd.SOrderID = s.SOrderID
					JOIN Products p ON sd.ProductID = P.ProductID
					JOIN StockDetails sd1 ON sd.SDetailID = sd1.SDetailID
					LEFT JOIN Customers c ON s.CustomerID = c.CustomerID
					WHERE sd1.SDetailID = @SDetailID AND s.ConcernID = @ConcernId
				END
			ELSE
				BEGIN
					SELECT P.Code ProductCode, P.ProductName, sd.Quantity,
					sd.UnitPrice SalesRate,
					sd1.IMENO IMEI, c.Code CustomerCode, c.Name CustomerName, s.InvoiceDate SalesDate, s.InvoiceNo

					FROM SOrderDetails sd
					JOIN SOrders s ON sd.SOrderID = s.SOrderID
					JOIN Products p ON sd.ProductID = P.ProductID
					JOIN StockDetails sd1 ON sd.RStockDetailId = sd1.SDetailID
					LEFT JOIN Customers c ON s.CustomerID = c.CustomerID
					WHERE sd.RStockDetailId = @RDetialID AND s.ConcernID = @ConcernId
				END
		END
	ELSE
		BEGIN
			DECLARE @CDetailsId INT  = 0;
			SELECT @CDetailsId = csd.StockDetailID
			FROM CreditSaleDetails csd
			WHERE EXISTS (SELECT TOP(1) *
						  FROM StockDetails sd
						  WHERE csd.StockDetailID = sd.SDetailID AND sd.IMENO= @IMEI AND sd.Status IN(2, 4) ORDER BY csd.CreditSaleDetailsID DESC)
		
			SELECT P.Code ProductCode, P.ProductName, csd.Quantity,
			csd.UnitPrice SalesRate,
			sd.IMENO IMEI, c.Code CustomerCode, c.Name CustomerName, cs.IssueDate SalesDate, cs.InvoiceNo

			FROM CreditSaleDetails csd
			JOIN CreditSales cs ON csd.CreditSalesID = cs.CreditSalesID
			JOIN Products p ON csd.ProductID = P.ProductID
			JOIN StockDetails sd ON csd.StockDetailID = sd.SDetailID
			LEFT JOIN Customers c ON cs.CustomerID = c.CustomerID
			WHERE sd.SDetailID = @CDetailsId AND cs.ConcernID = @ConcernId

		END
 END

-- credit sales
--EXEC GetSOForAdvanceSearch 'WD24LSQI000786', 5126

-- normal sales
--EXEC GetSOForAdvanceSearch '1440602AL2257', 5126

--EXEC GetSOForAdvanceSearch 'WTR0000016392', 5126
